services:
  guarden_db:
    container_name: guarden_database
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - guarden_pgdata:/var/lib/postgresql
    env_file:
      - path: .guarden.env
        required: true
    networks:
      - guarden-network

  adminer:
    container_name: guarden_db_debug
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - guarden-network

  api-core:
    container_name: guarden_api_core
    build:
      context: "api-core"
    image: ghcr.io/sellnat77/guarden/api-core:latest
    command: poetry run fastapi dev main.py --port 5000 --host 0.0.0.0
    ports:
      - 5000:5000
    depends_on:
      - guarden_db
    env_file:
      - path: .guarden.env
        required: true
    networks:
      - guarden-network

  api-vision:
    container_name: guarden_api_vision
    image: ghcr.io/sellnat77/guarden/api-vision:latest
    ports:
      - 8082:80
    env_file:
      - path: .guarden.env
        required: true
    networks:
      - guarden-network

  dashboard:
    container_name: guarden_dashboard
    image: ghcr.io/sellnat77/guarden/dashboard:latest
    build:
      context: "dashboard"
    ports:
      - "3000:5000"
    depends_on:
      - api-core
    env_file:
      - path: .guarden.env
        required: true
    networks:
      - guarden-network

networks:
  guarden-network:
    driver: bridge

volumes:
  guarden_pgdata:
